<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Marks</title>
    <link rel="stylesheet" href="/public/css/tailwind.css" />
    <link rel="stylesheet" href="/public/css-fontawesome/all.min.css" />
    <script src="/public/js/loadHeaderFooter.js"></script>
    <style>
      tr {
        text-align: center;
      }
      table,
      th,
      td {
        font-size: 1.02rem;
        border: 2px solid black;
      }
      th,
      td {
        padding: 6px;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body class="m-0 p-0 box-border font-sans">
    <div id="header" class="min-h-36"></div>

    <div class="fixed top-4 right-4">
      <button
        onclick="window.history.back()"
        class="flex items-center bg-indigo-700 text-white py-2 px-4 rounded font-bold hover:bg-indigo-800"
      >
        <i class="fa-solid fa-arrow-left mr-2"></i>Back
      </button>
    </div>

    <div class="main max-w-7xl mx-auto mb-6 uppercase">
      <div>
        <h1 class="text-3xl my-4 text-center font-bold">Student Marksheet</h1>
        <div class="flex justify-between">
          <div class="flex flex-col gap-1 my-4 text-lg font-semibold">
            <p>Roll No.: <%= rollno %></p>
            <p>Name: <%= student_detail.student_name %></p>
            <p>Department: <%= student_detail.department %></p>
          </div>
          <div class="max-w-32 h-auto border-2 border-gray-950">
            <img
              class=""
              src="/public/uploads/profile_pics/<%= student_detail.profile_pic %>"
              alt="Student Photo"
            />
          </div>
        </div>
      </div>

      <% for (let semester in semesters) { %>
      <div class="semester-div my-4 font-medium text-2xl text-center"></div>
      <div class="overflow-auto">
        <table class="w-full border-collapse text-center">
          <thead>
            <tr>
              <th>CODE</th>
              <th>SUBJECTS</th>
              <th>TYPE</th>
              <th>MIN MKS.</th>
              <th>MAX MKS.</th>
              <th>Credits</th>
              <th>MARKS OBT.</th>
              <th>INT. OBT.</th>
              <th>Grade</th>
            </tr>
          </thead>
          <tbody>
            <% semesters[semester].courses.forEach(course => { %>
            <tr>
              <td><%= course.course_code %></td>
              <td><%= course.course_name %></td>
              <td><%= course.course_type %></td>
              <td><%= course.min_marks %></td>
              <td><%= course.max_marks %></td>
              <td><%= course.credits %></td>
              <td><%= course.marks_obtained %></td>
              <td><%= course.marks_internal %></td>
              <td><%= course.grade %></td>
            </tr>
            <% }); %>

            <tr>
              <td colspan="3"></td>
              <td></td>
              <td></td>
              <td></td>
              <td colspan="3"></td>
            </tr>
            <tr>
              <th colspan="3">SEMESTER TOTAL:</th>
              <td><%= semesters[semester].total_min_marks %></td>
              <td><%= semesters[semester].total_max_marks %></td>
              <td><%= semesters[semester].total_credits %></td>
              <th>Total OBT.:</th>
              <td><%= semesters[semester].total_marks_obtained %></td>
              <th>SGPA: <%= semesters[semester].gpa %></th>
            </tr>
          </tbody>
        </table>
      </div>
      <% } %>
    </div>

    <script>
      function convertToRoman(num) {
        const romanNumeralMap = [
          { value: 10, numeral: 'X' },
          { value: 9, numeral: 'IX' },
          { value: 5, numeral: 'V' },
          { value: 4, numeral: 'IV' },
          { value: 1, numeral: 'I' },
        ];

        let roman = '';

        for (const { value, numeral } of romanNumeralMap) {
          while (num >= value) {
            roman += numeral;
            num -= value;
          }
        }

        return roman;
      }
      const semesters = '<%= semesters %>';
      const semesterNumber = '<%= sem %>';
      let sem = semesterNumber.split(',').map(Number);
      var divs = document.getElementsByClassName('semester-div');
      // Iterate through the numbers array
      sem.forEach(function (number, index) {
        let romanSem = convertToRoman(number);
        // Create a new <h2> element
        var h2 = document.createElement('h2');
        h2.textContent = 'Semester ' + romanSem;
        // Append <h2> to the corresponding div with class "semester-div"
        if (index < divs.length) {
          divs[index].appendChild(h2);
        } else {
          // Handle case where there are more numbers than divs
          console.error(
            "Not enough div elements with class 'h2div' for each number."
          );
        }
      });
    </script>
  </body>
</html>
