<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Detail | <%= studentDetails.student_name %></title>
    <link href="/public/css/tailwind.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/9ca9aa7819.js"
      crossorigin="anonymous"
    ></script>

    <script src="/public/js/loadHeaderFooter.js" defer></script>

    <style>
      ::-webkit-scrollbar {
        width: 0;
      }
      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .main-heading {
        width: 100%;
        position: absolute;
      }
      .main-heading h1 {
        margin: 5px 10px;
      }

      .main-heading a {
        position: relative;
        left: 84%;
        margin-right: 10px;
        text-decoration: underline;
        color: #001939;
        font-weight: 500;
        padding: 5px;
        transition: all 0.2 ease-in-out;
      }
      .main-heading a:hover {
        text-decoration: none;
        background-color: #8ab2da28;
        border-radius: 1px;
      }
      .main-heading a i {
        margin-right: 6px;
      }

      .profile-section {
        margin: 20px;
        margin-top: 100px;
      }

      .section-heading {
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: bold;
      }

      .profile-details {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }

      .profile-details th,
      .profile-details td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
      }

      .profile-details th {
        background-color: #f4f4f4;
        width: 20%;
      }

      .profile-details td {
        width: 30%;
      }
      .profile-details .img-td {
        vertical-align: top;
        border: none;
        padding: 0;
      }
      .profile-details img {
        border: 1px solid black;
        width: 100px;
        height: auto;
      }

      .marks-div,
      .actions-div {
        margin: 30px 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      .admin-links {
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
        align-items: center;
      }

      .admin-links a {
        text-decoration: none;
        color: #333;
        background-color: #f4f4f4;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.2s, color 0.2s;
        border: 1px solid #ddd;
        font-weight: bold;
        text-align: center;
      }

      .admin-links a:hover {
        background-color: #333;
        color: #fff;
      }

      #delete-btn:hover {
        background-color: #a20202;
      }
    </style>
  </head>
  <body class="font-sans">
    <div id="header"></div>

    <div class="fixed top-4 right-4">
      <button
        onclick="window.history.back()"
        class="flex items-center bg-indigo-700 text-white py-2 px-4 rounded font-bold hover:bg-indigo-800"
      >
        <i class="fa-solid fa-arrow-left mr-2"></i>Back
      </button>
    </div>

    <div class="main-heading">
      <h1>Student Details</h1>
    </div>

    <section>
      <section class="profile-section">
        <div class="section-heading">Personal Details</div>
        <table class="profile-details">
          <tr>
            <th>Name</th>
            <td><%= studentDetails.student_name %></td>
            <th>Roll no.</th>
            <td><%= studentDetails.rollno %></td>
            <td rowspan="3" class="img-td">
              <img
                src="/public/uploads/profile_pics/<%= studentDetails.profile_pic %>"
                alt="Profile Pic"
              />
            </td>
          </tr>
          <tr>
            <th>Father's Name</th>
            <td><%= studentDetails.father_name %></td>
            <th>Date of Birth</th>
            <td><%= studentDetails.dob %></td>
          </tr>
          <tr>
            <th>Gender</th>
            <td><%= studentDetails.gender %></td>
            <th>Admission Category</th>
            <td><%= studentDetails.category %></td>
          </tr>
          <tr>
            <th>Year of Admission</th>
            <td><%= studentDetails.year_of_admission %></td>
            <th>Department</th>
            <td colspan="2"><%= studentDetails.department %></td>
          </tr>
          <tr>
            <th>Nationality</th>
            <td><%= studentDetails.nationality %></td>
            <th>Religion</th>
            <td colspan="2"><%= studentDetails.religion %></td>
          </tr>
          <tr>
            <th>Phone Number</th>
            <td><%= studentDetails.phone_no %></td>
            <th>Email</th>
            <td colspan="2"><%= studentDetails.email %></td>
          </tr>
        </table>

        <div class="section-heading">Address Details</div>
        <table class="profile-details">
          <tr>
            <th>Permanent Address</th>
            <td><%= studentDetails.permanent_address %></td>
            <th>Domicile State</th>
            <td><%= studentDetails.domicile_state %></td>
          </tr>
          <tr>
            <th>District</th>
            <td><%= studentDetails.district %></td>
            <th>Pin Code</th>
            <td><%= studentDetails.pin_code %></td>
          </tr>
          <tr>
            <th>Correspondence Address</th>
            <td colspan="3"><%= studentDetails.correspondence_address %></td>
          </tr>
        </table>

        <hr
          style="border: 1px dashed black; margin: 70px auto; margin-bottom: 0"
        />
        <hr
          style="
            border: 1px dashed black;

            margin-bottom: 40px auto;
          "
        />

        <div class="actions-div">
          <h2>Admin Actions</h2>
          <div class="admin-links">
            <a href="/admin/student-job-details/<%= studentDetails.rollno %>"
              >View Job Details</a
            >

            <a href="/admin/marks/<%= studentDetails.rollno %>"
              >View Student Marks</a
            >

            <a href="/admin/students/edit/<%= studentDetails.rollno %>"
              >Edit Details</a
            >

            <a
              href="/admin/students/delete/<%= studentDetails.rollno %>"
              onclick="return confirmMessage()"
              id="delete-btn"
              >Delete Student</a
            >
          </div>
        </div>
        <br />
        <hr />

        <div class="marks-div">
          <h2>Add Student Marks</h2>
          <div class="admin-links">
            <a href="/admin/add-marks/<%= studentDetails.rollno %>/1"
              >Semester I</a
            >
            <a href="/admin/add-marks/<%= studentDetails.rollno %>/2"
              >Semester II</a
            >
            <a href="/admin/add-marks/<%= studentDetails.rollno %>/3"
              >Semester III</a
            >
            <a href="/admin/add-marks/<%= studentDetails.rollno %>/4"
              >Semester IV</a
            >
            <a href="/admin/add-marks/<%= studentDetails.rollno %>/5"
              >Semester V</a
            >
            <a href="/admin/add-marks/<%= studentDetails.rollno %>/6"
              >Semester VI</a
            >
            <a href="/admin/add-marks/<%= studentDetails.rollno %>/7"
              >Semester VII</a
            >
            <a href="/admin/add-marks/<%= studentDetails.rollno %>/8"
              >Semester VIII</a
            >
          </div>
          <br />
        </div>
      </section>
    </section>

    <script>
      function confirmMessage() {
        const confirmation = confirm(
          'Are you sure to Delete all details related to this rollno?'
        );

        // If user confirms, submit the form
        if (confirmation) {
          return true;
        } else {
          // Optionally, you can handle if the user cancels the submission
          console.log('Submission cancelled.');
          return false;
        }
      }
    </script>
  </body>
</html>
