<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>View Courses</title>
    <link href="/public/css/tailwind.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/9ca9aa7819.js"
      crossorigin="anonymous"
    ></script>

    <script>
      if ('<%= message %>') {
        alert('<%= message %>');
      }
    </script>

    <script src="/public/js/loadHeaderFooter.js" defer></script>
  </head>
  <body class="font-sans">
    <div id="header"></div>

    <div class="fixed top-4 right-4">
      <button
        onclick="window.history.back()"
        class="flex items-center bg-indigo-700 text-white py-2 px-4 rounded font-bold hover:bg-indigo-800"
      >
        <i class="fa-solid fa-arrow-left mr-2"></i>Back
      </button>
    </div>

    <div class="w-full text-center my-6">
      <h1 class="text-2xl font-bold text-gray-800 mb-4">Courses List</h1>
    </div>

    <div class="my-4 flex justify-center">
      <form
        action="/admin/view-courses/search"
        method="POST"
        class="flex gap-4 items-center"
      >
        <input
          type="text"
          name="search_query"
          placeholder="Search by Department or Semester"
          class="w-80 px-4 py-2 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500"
        />
        <button
          type="submit"
          class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition font-medium focus:ring focus:ring-blue-500"
        >
          Search
        </button>
      </form>
    </div>

    <% if (courses.length === 0){ %>
    <p class="text-center text-lg mt-12">No Course Found</p>
    <% } else { %>
    <div class="overflow-x-auto">
      <table class="w-11/12 mx-auto border-collapse border border-gray-400">
        <thead>
          <tr class="bg-gray-200">
            <th class="border border-gray-400 px-2 py-2">S.No.</th>
            <th class="border border-gray-400 px-2 py-2">Course Code</th>
            <th class="border border-gray-400 px-2 py-2">Course Name</th>
            <th class="border border-gray-400 px-2 py-2">Course Type</th>
            <th class="border border-gray-400 px-2 py-2">Department</th>
            <th class="border border-gray-400 px-2 py-2">Semester</th>
            <th class="border border-gray-400 px-2 py-2">Credits</th>
            <th class="border border-gray-400 px-2 py-2">Min Marks</th>
            <th class="border border-gray-400 px-2 py-2">Max Marks</th>
            <th class="border border-gray-400 px-2 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% let serialNo = 1; %> <% courses.forEach(course => { %>
          <tr
            class="<%= serialNo % 2 === 0 ? 'bg-gray-100' : '' %> hover:bg-gray-100"
          >
            <td class="border border-gray-400 px-4 py-2"><%= serialNo++ %>.</td>
            <td class="border border-gray-400 px-4 py-2">
              <%= course.course_code %>
            </td>
            <td class="border border-gray-400 px-4 py-2">
              <%= course.course_name %>
            </td>
            <td class="border border-gray-400 px-4 py-2">
              <%= course.course_type %>
            </td>
            <td class="border border-gray-400 px-4 py-2">
              <%= course.department %>
            </td>
            <td class="border border-gray-400 px-4 py-2">
              <%= course.semester %>
            </td>
            <td class="border border-gray-400 px-4 py-2">
              <%= course.credits %>
            </td>
            <td class="border border-gray-400 px-4 py-2">
              <%= course.min_marks %>
            </td>
            <td class="border border-gray-400 px-4 py-2">
              <%= course.max_marks %>
            </td>
            <td class="border border-gray-400 px-4 py-2">
              <a
                href="/admin/edit-course/<%= course.course_code %>"
                class="text-blue-700 underline hover:no-underline hover:text-blue-900"
                >Edit</a
              >
              <form
                action="/admin/delete/<%= course.course_code %>"
                method="post"
                class="inline-block"
              >
                <button
                  type="submit"
                  onclick="return confirmMessage()"
                  class="text-red-700 underline hover:no-underline hover:text-red-900"
                >
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <% } %>

    <script>
      function confirmMessage() {
        return confirm(
          'Are you sure to Delete all details related to this course?'
        );
      }
    </script>
  </body>
</html>
