<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Profile</title>
    <link rel="stylesheet" href="/css/header.css" />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        font-size: 16px;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
      }
      th {
        background-color: #f1f1f1;
        width: 30%;
      }
      .section-heading {
        background-color: #e0e0e0;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 10px;
      }
      .profile-details {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        gap: 20px;
        margin-bottom: 20px;
      }
      .profile-details .detail-item {
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
      }
      .profile-details .detail-item h3 {
        margin-top: 0;
        color: #333;
        font-size: 18px;
      }
      .profile-details .detail-item p {
        margin-bottom: 5px;
        color: #666;
      }
      .back-link {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: #007bff;
        text-decoration: none;
        font-size: 16px;
      }
      .back-link:hover {
        text-decoration: underline;
      }

      .heading-div {
        position: relative;
      }

      .heading-div h1 {
        margin: 1px;
        margin-bottom: 14px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
        text-align: center;
        padding: 30px;
      }

      .photo-div img {
        padding: 3px;
        border: 2px solid black;
        position: absolute;
        width: 80px;
        top: 0;
        right: 26px;
      }
      @media screen and (max-width: 750px) {
        .profile-details {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          gap: 10px;
          margin-bottom: 20px;
        }

        .profile-details .detail-item {
          border: 1px solid #d6d6d6;
          padding: 7px;
          padding-left: 15px;
        }

        .heading-div h1 {
          padding-left: 16px;
          text-align: left;
        }
      }
    </style>
  </head>
  <body>
    <%- include ("../header.ejs") %>
    <div class="heading-div">
      <h1>Student Profile</h1>
      <div class="photo-div">
        <img
          src="/public/uploads/profile_pics/<%= studentDetails.profile_pic %>"
          alt=""
        />
      </div>
    </div>
    <div class="container">
      <% if (!studentDetails) { %>
      <p>
        You need to complete your registration. Please
        <a href="/student/register">click here</a> to register.
      </p>
      <% } else { %>

      <section class="profile-section">
        <div class="section-heading">Personal Details</div>
        <div class="profile-details">
          <div class="detail-item">
            <h3>Name</h3>
            <p><%= studentDetails.student_name %></p>
          </div>

          <div class="detail-item">
            <h3>Roll no.</h3>
            <p><%= studentDetails.rollno %></p>
          </div>
          <div class="detail-item">
            <h3>Father's Name</h3>
            <p><%= studentDetails.father_name %></p>
          </div>

          <div class="detail-item">
            <h3>Date of Birth</h3>
            <p><%= studentDetails.dob %></p>
          </div>
          <div class="detail-item">
            <h3>Gender</h3>
            <p><%= studentDetails.gender %></p>
          </div>
          <div class="detail-item">
            <h3>Admission Category</h3>
            <p><%= studentDetails.category %></p>
          </div>
          <div class="detail-item">
            <h3>Year of Admission</h3>
            <p><%= studentDetails.year_of_admission %></p>
          </div>
          <div class="detail-item">
            <h3>Department</h3>
            <p><%= studentDetails.department %></p>
          </div>
          <div class="detail-item">
            <h3>Nationality</h3>
            <p><%= studentDetails.nationality %></p>
          </div>
          <div class="detail-item">
            <h3>Religion</h3>
            <p><%= studentDetails.religion %></p>
          </div>
          <div class="detail-item">
            <h3>Phone Number</h3>
            <p><%= studentDetails.phone_no %></p>
          </div>
          <div class="detail-item">
            <h3>Email</h3>
            <p><%= studentDetails.email %></p>
          </div>
        </div>

        <div class="section-heading">Address Details</div>
        <div class="profile-details">
          <div class="detail-item">
            <h3>Permanent Address</h3>
            <p><%= studentDetails.permanent_address %></p>
          </div>
          <div class="detail-item">
            <h3>Domicile State</h3>
            <p><%= studentDetails.domicile_state %></p>
          </div>
          <div class="detail-item">
            <h3>District</h3>
            <p><%= studentDetails.district %></p>
          </div>
          <div class="detail-item">
            <h3>Pin Code</h3>
            <p><%= studentDetails.pin_code %></p>
          </div>
          <div class="detail-item">
            <h3>Correspondence Address</h3>
            <p><%= studentDetails.correspondence_address %></p>
          </div>
        </div>
      </section>

      <a href="/student/dashboard" class="back-link">Back to Dashboard</a>
      <% } %>
    </div>
  </body>
</html>
